<ion-view title="{{ 'Home_SubTitle' | translate }}" class="bodyColor scroll" hide-back-button="true" cache-view="false">
    <ion-content has-header="true" scroll="true" style="position: fixed;">

        <div class="card" ng-repeat="class in classes">
            <div class="item item-divider" style="text-align: center">
                {{class.StartTime.split(' ')[0]}} - {{class.EndTime.split(' ')[0]}}
            </div>
            <div class="item-text-wrap">
                <ion-list>
                    <ion-item>
                        <div>
                            {{class.SubjectLabel}}
                            <p ng-if="!(IsUserProfessor)">
                                {{class.ProfessorFullName}}
                                <span style="color: #33cd5f" ng-if="!(class.IsProfessorAbsent) && !(class.IsProfessorLate)"> à l'heure</span>
                                <span style="color: #ef473a" ng-if="class.IsProfessorAbsent"> absent</span>
                                <span style="color: #ffc900" ng-if="class.IsProfessorLate"> en retard</span>
                            </p>
                            <p style="color: #ef473a" ng-if="(IsUserProfessor) && class.IsProfessorAbsent">Vous avez signalé être absent à ce cours</p>
                            <p style="color: #ffc900" ng-if="(IsUserProfessor) && class.IsProfessorLate">Vous avez signalé être en retard à ce cours</p>

                        </div>
                            <ion-option-button side="right" class="button button-energized" ng-click="showModal('templates/newDelays.html')">
                                <i class="icon ion-ios-alarm-outline"></i>
                            </ion-option-button>
                            <ion-option-button side="right" class="button button-assertive" ng-click="showModal('templates/newAbsences.html')">
                                <i class="icon ion-ios-calendar-outline"></i>
                            </ion-option-button>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item-text-wrap" ng-if="IsUserProfessor">
                <div class="row">
                    <div class="col col-50" style="text-align: center">
                        <a class="subdued" ui-sref="app.absences({ idClass : class.ClassID })">1 Absence</a>
                    </div>
                    <div class="col col-50" style="text-align: center">
                        <a href="#" class="subdued">3 Retards</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>