<ion-view title="Mes Absences">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-plus" ng-click="showModal('templates/newAbsences.html')">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap" ng-repeat="absence in absences">
          <div class="row">
            <h2 style="text-align:center;">{{absence.Reason}}</h2>
          </div>
          <div class="item-text-wrap">
                <div class="row" >
                    <div class="col col-50" style="text-align: left">
                      <a class="subdued">De {{absence.StartDate}}</a>
                    </div>
                    <div class="col col-50" style="text-align: right">
                      <a class="subdued">À {{absence.StopDate}}</a>
                    </div>
                </div>
            </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
