<ion-view title="Mes Absences">
    <ion-nav-bar class="bar-assertive" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios-plus" ng-click="showModal('templates/newAbsences.html')">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="absence in absences">
                <h2 style="font-size:110%; text-align:center;">{{absence.Reason}}</h2>
                <div class="item-text-wrap row">
                    <div class="col col-50" style="text-align: left; font-size:80%">
                        <a class="subdued">Du {{absence.StartDate}}</a>
                    </div>
                    <div class="col col-50" style="text-align: right; font-size:80%">
                        <a class="subdued">Au {{absence.StopDate}}</a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>