<ion-view title="9:00 - 12:30" class="bodyColor scroll" hide-back-button="true" cache-view="false">
    <ion-content has-header="true" scroll="true" style="position: fixed;">

    </ion-content>
</ion-view>

<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable" align-title="center">
        <h1 class="title">Absences / Retards</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="ion-android-close"></i></button>
    </ion-header-bar>
    <ion-content>
		<ion-list>
      		<div class="item item-divider" style="background-color: #ef473a; color: white;">
        		Absences 
        		<span class="item-note" style="color:white">{{countAbsences}}</span> 
      		</div>
      		<ion-item class="item-text-wrap" ng-repeat="absence in absences">
          		<p>{{absence.StudentFullName}}</p>
          		<p>Motif : {{absence.Reason}}</p>
      		</ion-item>
      		<div class="item item-divider" style="background-color: #ffc900; color: white;">
        		Retards 
        		<span class="item-note" style="color:white">{{countDelays}}</span> 
      		</div>
        	<ion-item class="item-text-wrap" ng-repeat="delay in delays">
          		<p>{{delay.StudentFullName}}</p>
          		<p>Motif : {{delay.Reason}}</p>
          		<span class="badge badge-energized">{{delay.Value}}{{delay.ValueUnit}}</span>
      		</ion-item>
    	</ion-list>
    </ion-content>
</ion-modal-view>