<ion-view title="9:00 - 12:30" class="bodyColor scroll" hide-back-button="true" cache-view="false">
    <ion-content has-header="true" scroll="true" style="position: fixed;">

    </ion-content>
</ion-view>

<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable" align-title="center">
        <h1 class="title">Absences / Retards</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="ion-android-close"></i></button>
    </ion-header-bar>
    <ion-content>

       <!-- 	    <ion-list ng-repeat="shop in shops">
	      <div class="item item-divider item-icon-right" on-hold="onMessageHold(shop)">
	        {{shop.name}}
	        <i class="icon icon ion-ios-plus" ng-click="add(shop.$id, shop.name)"></i>
	      </div>
	      <ion-item class="item-text-wrap" ng-repeat="(id, item) in shop.myListOfProducts">
	          <p>{{item.labelProduct}}</p>
	        <ion-option-button side="right" class="button button-energized" ng-click="modifyProducts(shop, id, item.labelProduct)">
	          Modifier
	        </ion-option-button>
	        <ion-option-button side="right" class="button button-assertive" ng-click="trashProducts(shop.$id, id)">
	          Supprimer
	        </ion-option-button>
	      </ion-item>
	    </ion-list> -->

		<ion-list>
	      <div class="item item-divider" style="background-color: #ef473a; color: white;">
	        Absences
	      </div>
	      <ion-item class="item-text-wrap">
	          <p>Rémi Boissise</p>
	          <p>Motif : Travail trop</p>
	      </ion-item>
	      <div class="item item-divider" style="background-color: #ffc900; color: white;">
	        Retards
	       </div>
	        <ion-item class="item-text-wrap">
	          <p>Rémi Boissise</p>
	          <p>Motif : Travail trop</p>
	          <span class="badge badge-energized">0h</span>
	      	</ion-item>
	      </div>

	    </ion-list>

    </ion-content>
</ion-modal-view>